Application-ServicesVelib/ApplicationVelib-WS/src/main/resources/ws1MessageReponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iaws/ws/contractfirst/station" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StationReponse" type="stat:StationReponseType" xmlns:stat="http://iaws/ws/contractfirst/station"/>
  <xs:complexType name="stationType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="adresse"/>
      <xs:element type="xs:string" name="available_bike_stands"/>
      <xs:element type="xs:string" name="available_bikes"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationReponseType">
    <xs:sequence>
      <xs:element type="stat:stationType" name="station" xmlns:stat="http://iaws/ws/contractfirst/station"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>