Application-ServicesVelib/ApplicationVelib-WS/src/main/resources/webservice.serviceuserstory4/ResponseContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iaws/ws/contractfirst/station" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResponseWs4" type="stat:ResponseWs4Type" xmlns:stat="http://iaws/ws/contractfirst/station"/>
  <xs:complexType name="ResponseWs4Type">
    <xs:sequence>
      <xs:element type="xs:string" name="time"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>