Application-ServicesVelib/ApplicationVelib-WS/src/main/resources/webservice/serviceuserstory3/ResponseContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iaws/ws/contractfirst/station" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResponseWs3" type="stat:ResponseWs3Type" xmlns:stat="http://iaws/ws/contractfirst/station"/>
  <xs:complexType name="ResponseWs3Type">
    <xs:sequence>
      <xs:element type="xs:string" name="time"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>